<section class="rounded-md">
  <!--
      editFields
      fieldsRotate
      fieldsSpan
      fieldsIndex -->
  <div class="my-2">
    <label class="relative inline-flex items-center cursor-pointer">
      <input
        x-model="fieldsRotate"
        type="checkbox"
        value="fieldsRotate"
        class="sr-only peer"
      />
      <div
        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
      ></div>
      <span class="ml-3 text-sm font-medium text-gray-900">Rotate</span>
    </label>
  </div>
  <div class="mb-2">
    <label class="relative inline-flex items-center cursor-pointer">
      <input
        x-model="fieldsSpan"
        type="checkbox"
        value="fieldsSpan"
        class="sr-only peer"
      />
      <div
        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
      ></div>
      <span class="ml-3 text-sm font-medium text-gray-900">Spans</span>
    </label>
  </div>
  <div class="mb-2">
    <label class="relative inline-flex items-center cursor-pointer">
      <input
        x-model="fieldsIndex"
        type="checkbox"
        value="fieldsIndex"
        class="sr-only peer"
      />
      <div
        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
      ></div>
      <span class="ml-3 text-sm font-medium text-gray-900">Indexes</span>
    </label>
  </div>
  <div class="">
    <label class="relative inline-flex items-center cursor-pointer">
      <input
        x-model="editField"
        type="checkbox"
        value="editField"
        class="sr-only peer"
      />
      <div
        class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
      ></div>
      <span class="ml-3 text-sm font-medium text-gray-900">Editor</span>
    </label>
  </div>
  <div class="my-2">
    <button
      class="shadow px-2 py-1 rounded flex items-center"
      @click.prevent="
      editField = true; 
      fieldsRotate = false; 
      fieldsSpan = false; 
      fieldsIndex = false;
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-x"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
      Reset
    </button>
  </div>
</section>
