<body
  class="overflow-y-scroll"
  x-data="{
    fieldsSpan: true, 
    fieldsOrder: true, 
    editorSide: false,
    currentForm: null
  }"
>
  {{ partial "menu.html" . }}
  <div x-data="mydata()" x-init="fetchform()">
    <div class="flex gap-2 p-2 justify-end">
      <button
        class="rounded-md bg-white px-5 py-2.5 shadow border border-solid border-1"
        @click="saveData"
      >
        Save
      </button>

      <div x-data="{ data: JSON.parse(localStorage.getItem('forms')) || [] }">
        <button
          class="rounded-md bg-white px-5 py-2.5 shadow border border-solid border-1"
          @click="downloadData('forms')"
        >
          Download Data
        </button>
      </div>
    </div>

    <!-- API form -->
    <div class="flex">
      <div class="grow">
        <template x-for="form in forms">
          <template x-if="form.ux_edit">
            <form
              action=""
              class="py-4"
              :class="{
                'p-10' : form.ux_fullWidth,
                'container mx-auto' : !form.ux_fullWidth,
                'border-4 border-green-100' : form.id === currentForm,
                'border-4 border-transparent' : form.id !== currentForm

              }
          "
            >
              <strong class="text-lg px-2" x-text="form.title"></strong>
              <button
                @click.prevent="
                editorSide = !editorSide,
                currentForm = form.id
              "
              >
                <!-- <button @click.prevent="edit(form.id)"> -->
                edit form:
                <span x-text="form.id + ' ' + currentForm"></span>
              </button>
              <div
                class="grid gap-1"
                :class="{
                     'grid-cols-2': form.ux_col === 2,
                     'grid-cols-3': form.ux_col === 3,
                     'grid-cols-4': form.ux_col === 4,
                     'grid-cols-5': form.ux_col === 5,
                     'grid-cols-6': form.ux_col === 6,
                     'grid-cols-7': form.ux_col === 7,
                     'grid-cols-8': form.ux_col === 8,
                     'grid-cols-9': form.ux_col === 9,
                     'grid-cols-10': form.ux_col === 10,
                     'grid-cols-11': form.ux_col === 11,
                     'grid-cols-12': form.ux_col === 12,
                     'grid-cols-13': form.ux_col === 13,
                     'grid-cols-14': form.ux_col === 14,
                     'grid-cols-15': form.ux_col === 15,
                     'grid-cols-16': form.ux_col === 16
                   }"
              >
                <template x-for="(item, index) in form.fields" :key="index">
                  <div
                    class="xxx-border"
                    :class="{
                      'col-span-2': form.ux_span === 2,
                      'col-span-3': form.ux_span === 3,
                      'col-span-4': form.ux_span === 4,
                      'col-span-5': form.ux_span === 5,
                      'col-span-6': form.ux_span === 6,
                      'col-span-7': form.ux_span === 7,
                      'col-span-8': form.ux_span === 8,
                      'col-span-9': form.ux_span === 9,
                      'col-span-10': form.ux_span === 10,
                      'col-span-11': form.ux_span === 11,
                      'col-span-12': form.ux_span === 12,
                      'col-span-13': form.ux_span === 13,
                      'col-span-14': form.ux_span === 14,
                      'col-span-15': form.ux_span === 15,
                      'col-span-16': form.ux_span === 16
                      }"
                  >
                    <div x-show="item.type === 'text'">
                      {{ partial "fields/text/edit.html" . }}
                    </div>
                    <div x-show="item.type === 'checkbox'">
                      {{ partial "fields/checkbox.html" . }}
                    </div>
                    <div x-show="item.type === 'textarea'">
                      {{ partial "fields/textarea.html" . }}
                    </div>
                  </div>
                </template>
              </div>
            </form>
          </template>
          <template x-if="!form.ux_edit">
            <div
              x-show="!form.ux_edit"
              :class="
              form.ux_fullWidth ? 'p-10' : 'container mx-auto'
          "
            >
              <strong class="text-lg px-2" x-text="form.title"></strong>
              <span x-text="form.id"></span>
              <span x-text="form.ux_fullWidth"></span>

              <dl>
                <template x-for="item in form.fields">
                  <span class="grid grid-cols-2 p-2">
                    <dt x-text="item.label"></dt>
                    <dd class="font-medium">sample value</dd>
                  </span>
                </template>
              </dl>
            </div>
          </template>
        </template>
      </div>
      <div x-show="editorSide" class="w-[30rem] px-2 flex flex-col">
        <section class="rounded-md bg-slate-100 p-3">
          <strong> fieldsSpan </strong>
          <div class="py-2">
            <label
              class="relative inline-flex items-center mb-4 cursor-pointer"
            >
              <input
                x-model="fieldsSpan"
                type="checkbox"
                value="fieldsSpan"
                class="sr-only peer"
              />
              <div
                class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
              ></div>
              <span
                class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                >fieldsSpan</span
              >
            </label>
          </div>
          <div class="py-2">
            <label
              class="relative inline-flex items-center mb-4 cursor-pointer"
            >
              <input
                x-model="fieldsOrder"
                type="checkbox"
                value="fieldsOrder"
                class="sr-only peer"
              />
              <div
                class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
              ></div>
              <span
                class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                >fieldsOrder</span
              >
            </label>
          </div>
        </section>
        <template x-for="form in forms">
          <template x-if="currentForm === form.id">
            <section class="rounded-md bg-slate-100 p-3">
              <strong>
                Edit form (
                <span x-text="currentForm + '' + form.id"></span>
                )
              </strong>
              <div class="my-4">
                <select
                  id="increment-selector"
                  @change.prevent="form.ux_col = parseInt($event.target.value)"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div>
                <label
                  class="relative inline-flex items-center mb-4 cursor-pointer"
                >
                  <input
                    x-model="form.ux_fullWidth"
                    type="checkbox"
                    value="form.ux_fullWidth"
                    class="sr-only peer"
                  />
                  <div
                    class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                  ></div>
                  <span
                    class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >fullWidth</span
                  >
                </label>
              </div>
              <div>
                <label
                  class="relative inline-flex items-center mb-4 cursor-pointer"
                >
                  <input
                    x-model="form.ux_edit"
                    type="checkbox"
                    value="form.ux_edit"
                    class="sr-only peer"
                  />
                  <div
                    class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                  ></div>
                  <span
                    class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Togle Edit</span
                  >
                </label>
              </div>
            </section>
          </template>
        </template>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    // load data from API
    function mydata() {
      return {
        forms: [],
        currentForm: null,
        isLoading: false,
        fetchform() {
          this.isLoading = true;
          fetch(`/formConfig.json`)
            .then((res) => res.json())
            .then((data) => {
              this.isLoading = false;
              this.forms = data;
            });
        },
      };
    }
    // save to storage
    function saveData() {
      localStorage.setItem("forms", JSON.stringify(this.forms));
    }

    function edit(id) {
      console.log(this.editorSide);
      this.editorSide = true;
      this.currentForm = id;
    }

    // switch
    function getData() {
      console.log(this.items);
    }
    function swapItems(index1, index2, items) {
      if (
        index1 < 0 ||
        index2 < 0 ||
        index1 >= items.length ||
        index2 >= items.length ||
        index1 === index2
      ) {
        return;
      }
      var temp = items[index1];
      items[index1] = items[index2];
      items[index2] = temp;
    }

    function count(count) {
      console.log(count.length);
    }

    function downloadData(storeageData) {
      const data = JSON.parse(localStorage.getItem(storeageData)) || [];
      const filename = "myData.json";
      const blob = new Blob([JSON.stringify(data, null, 2)], {
        type: "application/json",
      });
      const url = URL.createObjectURL(blob);
      const a = document.createElement("a");
      a.href = url;
      a.download = filename;
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
      URL.revokeObjectURL(url);
    }

    window.swapItems = swapItems;

    function test(el) {
      console.log(el);
    }
  </script>
</body>
