<div class="py-4" x-data="{show: true, overlay: false, toggle: false}">
  <div class="flex">
    <!-- Sidebar -->
    <div class="min-w-[20rem] border p-3" x-show="show">
      <div class="flex flex-col">
        <div class="flex justify-between items-center">
          <strong>Filter show</strong>
          <div>
            <button
              @click="show = !show;"
              :class="show ? ' border-green-500' : 'border-green-500/0'"
              class="rounded-md bg-white px-5 py-2.5 shadow border border-solid border-1"
            >
              <div class="flex justify-end items-center gap-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-left-short"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"
                  />
                </svg>
                <span class="ml-2"> Hide </span>
              </div>
            </button>
          </div>
        </div>

        <div class="bg-green-100/50 my-2 p-2">
          <p>easy to access & edit</p>
        </div>
        <div>
          <button class="rounded-md bg-white px-5 py-2.5 shadow">
            Apply Filter
          </button>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <div class="border grow">
      <div class="p-3">
        <div class="d-flex">
          <button
            x-show="!show"
            @click="show = !show;"
            class="rounded-md bg-white px-5 py-2.5 shadow border border-solid border-1 border-green-500/0"
          >
            Show Filter
          </button>
          <button
            @click="toggle = !toggle;"
            :class="toggle ? ' border-yellow-500' : 'border-yellow-500/0'"
            class="rounded-md bg-white px-5 py-2.5 shadow border border-solid border-1"
          >
            Toggle Filter
          </button>
          <button
            @click="overlay = !overlay;"
            :class="overlay ? ' border-green-500' : 'border-green-500/0'"
            class="rounded-md bg-white px-5 py-2.5 shadow border border-solid border-1"
          >
            Overlay
            <span x-show="overlay">Filter</span>
            <span x-show="!overlay">Filter</span>
          </button>
        </div>
        <div class="bg-slate-50 mt-2 p-2 flex flex-col" x-show="toggle">
          <div>
            <strong>Filter toggle</strong>
          </div>
          <span class="bg-yellow-100/50 my-2 p-2">
            forms must be nice - in line
          </span>
          <div>
            <button
              @click="toggle = !toggle;"
              class="rounded-md bg-white px-5 py-2.5 shadow"
            >
              Apply
            </button>
          </div>
        </div>
        <ul class="mt-3 flex flex-wrap gap-2">
          {{ range .Site.Data.documents }}
          <li class="border p-2 min-w-[20rem] min-h-[15rem] rounded">
            {{ .filename }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div
    class="z-10 p-2 w-[20rem] border absolute top-[0] left-[auto] bottom-[0] right-[0] bg-slate-50"
    x-show="overlay"
  >
    <div class="flex flex-col">
      <strong>Filter Overlay</strong>
      <div class="bg-red-100/50 my-2 p-2 text-red-900 rounded">
        <p>This is what we are using at this moment</p>
        <p>more clicks & no visible results</p>
      </div>
      <div>
        <button
          @click="overlay = !overlay;"
          :class="overlay ? ' border-red-500' : 'border-red-500/0'"
          class="rounded-md bg-white px-5 py-2.5 shadow border border-solid border-1"
        >
          Apply
        </button>
      </div>
    </div>
  </div>
  <div
    x-show="overlay"
    @click="overlay = !overlay;"
    class="z-0 absolute inset-0 bg-slate-800/50 backdrop-blur-lg"
  ></div>
</div>
